<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>测试导航条背景.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A733AB671E4AC27300C3FAC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A733AB801E4AC27300C3FAC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A733AB8B1E4AC27300C3FAC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
